/* ------------ navbar ---------------- */

.nav-div {
    padding: 0 5%;
    background-color: #eeeeee;
    border-bottom: 1px solid gray;
}

.navbar {
    padding: 0%;
    background-color: #eeeeee;
}

header h1 {
    padding: 10px 10px;
    margin: 0%;
    background-color: teal;
    color: white;
}

.collapse {
    background-color: #eeeeee;
}

.nav-links {
    background-color: #eeeeee;
}


/* ------------navbar---------------- */

.profile-img {
    margin-bottom: 5%;
    margin-right: 5%;
}

main {
    background-color: #383e56;
    margin: 2% 3%;
    color: #f69e7b;
    margin-right: 30%;
    padding-bottom: 3%;
}

p {
    line-height: 2rem;
}

body {
    background-color: #eedad1;
}


/* ------------ contact me ---------------- */

.form-group {
    margin: 0 3% 3% 3%;
}

.message {
    display: block;
}


/* ------------ contact me ---------------- */

.page-div {
    padding: 20px;
}

hr {
    background-color: white;
    margin-left: 15px;
    margin-left: 15px;
}

h2 {
    padding-left: 15px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/* ----------- Portfolio ---------- */

.card-text {
    text-align: center;
    background-color: #f69e7b;
    opacity: 75%;
    color: #383e56;
    font-weight: bold;
}

.row {
    margin-bottom: 3%;
}


/* ----------- Portfolio ---------- */

@media screen and (max-width: 640px) {
    .text-center {
        display: block;
    }
    main {
        background-color: #383e56;
        color: #f69e7b;
        margin-right: 0%;
        margin: 2% 1%;
    }
    .container {
        padding: 0;
        margin: auto;
    }
    .nav-links {
        margin: auto;
    }
    .card {
        margin: 5% auto;
    }
    .row {
        margin-bottom: 5%;
    }
    .nav-div {
        padding: 0;
    }
}

@media only screen and (max-width: 768px) {
    p {
        text-align: center;
    }
    .row {
        margin-bottom: 5%;
    }
}