main {
    background-color: #3b6978;
    margin: 2% 3%;
    color: #e4e3e3;
    margin-right: 30%;
    padding-bottom: 3%;
}

body {
    background-color: #eedad1;
}

.page-div {
    padding: 20px;
    margin-bottom: 20%;
}

hr {
    background-color: #eedad1;
    margin-left: 15px;
    margin-right: 15px;
}

h2 {
    padding-left: 15px;
}

h1,
p,
h2 {
    font-family: "PT Serif", serif;
}


/* ------------ navbar ---------------- */

.nav-div {
    padding: 0 3%;
    background-color: #84a9ac;
    border-bottom: 1px solid gray;
}

a {
    color: #eedad1;
}

header h1 {
    padding: 20px 10px;
    margin: 0%;
    background-color: #3b6978;
    color: #e4e3e3;
}

.nav-item {
    margin: auto 5px;
}

nav,
.nav-div,
.nav-link,
.navlinks {
    background-color: #84a9ac;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}


/* ------------navbar---------------- */


/* ------------footer---------------- */

.footer {
    background-color: #84a9ac;
    color: #e4e3e3;
}


/* ------------footer---------------- */


/* ------------About Me---------------- */

.profile-img {
    margin-bottom: 5%;
    margin-right: 5%;
}

p {
    line-height: 2rem;
}


/* ------------About Me---------------- */


/* ------------ contact me ---------------- */

.form-group {
    margin: 0 3% 3% 3%;
}

.message {
    display: block;
}


/* ------------ contact me ---------------- */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/* ----------- Portfolio ---------- */

.card-text {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 10%;
    bottom: 5%;
    background-color: #204051;
    border-top: 1px solid #e4e3e3;
    border-bottom: 1px solid #e4e3e3;
    color: #e4e3e3;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
    vertical-align: middle;
}

.row {
    margin-bottom: 3%;
}


/* ----------- Portfolio ---------- */

@media only screen and (max-width: 768px) {
    main {
        margin-right: 0%;
        margin: 2% 1%;
    }
    .container {
        padding: 0;
        margin: auto;
    }
    .row {
        margin-bottom: 5%;
    }
    hr {
        margin-left: 0;
        margin-right: 0;
    }
    .card {
        margin: 5% auto;
    }
    h2 {
        padding-left: 0;
    }
}

@media screen and (max-width: 640px) {
    .nav-ul {
        margin: auto;
        padding: 1% 0;
    }
    .nav-links {
        margin: auto;
        justify-content: center;
    }
    .text-center {
        display: block;
    }
    main {
        margin-right: 0%;
        margin: 2% 1%;
    }
    .container {
        padding: 0;
        margin: auto;
    }
    .card {
        margin: 5% auto;
    }
    .row {
        margin-bottom: 5%;
    }
    .nav-div {
        padding: 0;
    }
    body {
        margin-left: 1%;
        margin-right: 1%;
    }
    .nav-item {
        display: inline;
    }
    hr {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 575px) {
    header,
    .nav-ul {
        display: block;
        width: 100%;
    }
    hr {
        margin-left: 0;
        margin-right: 0;
    }
}